body{
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}


.container>.row>.col-md-12{
    padding-top: 20px;;
}

h5{
   
}

.conteiner>article{
    margin: 25px auto;
}

header{
    margin: 15px auto;;
}